html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

 body{
     overflow:auto !important;
 }

html[dir=ltr].dateshow {
    direction: ltr;
}

html[dir=rtl].dateshow {
    direction: rtl;
}
.menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
}

.menu-card {
    width: 250px;
    background: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease-in-out;
}

    .menu-card:hover {
        transform: scale(1.01);
    }

    .menu-card .menu-header {
        background: var(--main-color);
        color: black;
        padding: 15px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        cursor: pointer;
    }

.submenu {
    display: block;
    background: #f1f1f1;
    padding: 10px;
    list-style: none;
    margin: 0;
}

    .submenu li {
        position: relative;
        padding: 8px 12px;
        border-bottom: 1px solid #ddd;
        cursor: pointer;
        transition: background 0.3s;
    }

        .submenu li:hover {
            /* background: var(--main-color); */
            color: var(--main-color);
        }

        .submenu li .noti-badge {
            position: absolute;
            top: 6px;
            background-color: #f75353;
            color: white;
            font-size: 12px;
            border-radius: 50%;
            width: 28px;
            height: 28px;
            display: flex;
            align-items: center;
            justify-content: center;
        }