
<div class="news-strip">
    <div class="news-label">
       @loc.localizer["News"]
    </div>
    <div class="news-text">
        <span>
            🔔 The UAE participated in the International Meeting of Geological Survey, held as part of the 4th International Mining Conference in Riyadh, Saudi Arabia.
        </span>
    </div>
     
</div>
 
<style>
     
</style>