
<style>

    .notif-popover {
        max-width: 30vw !important;
        width: 30vw;
    }

    #notifications-container .title {
        background-color: #f0f1f4;
    }

    .notifications-wrapper {
        height: 280px;
    }

    #notifications-container .overflow-y {
        overflow-x: hidden !important;
        overflow-y: auto !important;
    }

    #notifications-container .notification-item {
        border-bottom: 2px solid #f4f5f7;
        color: #6f747a;
        display: block;
        font-size: .85714em;
        white-space: normal;
        text-decoration:none !important;
        cursor :pointer;
    }

    .notification-icon {
        position: relative;
        cursor: pointer;
        font-size: 18px;
        color: var(--gov-color);
    }

    .notification-badge {
        position: absolute;
        top: -9px;
        right: -13px;
        background-color: #f75353;
        color: white;
        font-size: 12px;
        border-radius: 50%;
        width: 18px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    html[dir=ltr] #notifications-container .notification-item {
        text-align: left;
        top: 0px;
        right: 5px;
    }

    html[dir=rtl] #notifications-container .notification-item {
        text-align: right;
        top: 0px;
        right: -5px;
    }
</style>
<div class="dropdown mx-2 mt-0">
    <div class="d-inline-block">
        <a href="#" class="text-light" id="notificationIcon"
           data-bs-toggle="dropdown"
           aria-expanded="false">
            <i class="fa fa-bell notification-icon"></i>
            <span class="notification-badge" id="notificationCount">0</span>
        </a>
        <div class="dropdown-menu dropdown-menu-end notif-popover"
             aria-labelledby="notificationIcon">
            <div class="" id="notificationText"></div>
        </div>
    </div>
</div> 